<div class="login-container">
    <div class="card login-card p-4">
        <div class="card-body text-center">
            <img src="assets/images/mu.png" alt="Logo de MaquiMu" class="img-fluid w-50 mb-4">
            <h4 class="mb-4 text-primary fw-bold">Bienvenido a MaquiMu</h4>
            <form>
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input type="email" class="form-control" id="email" placeholder="tu@email.com" required>
                    </div>
                </div>
                <div class="mb-4 text-start">
                    <label for="password" class="form-label">Contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input type="password" class="form-control" id="password" placeholder="********" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-login w-100 mb-3">Ingresar</button>
                <a href="#" class="text-decoration-none text-muted">¿Olvidaste tu contraseña?</a>
            </form>
        </div>
    </div>
</div>